@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<Component1></Component1>
<Component2></Component2>
<PieChart></PieChart>
<BarChart CanvasId="barChart" Config="@BarConfig" />


@code {
    private object BarConfig = new
    {
        type = "bar",
        data = new
        {
            labels = new[] { "Red", "Blue", "Yellow", "Orange" },
            datasets = new[]
            {
                new {
                    label = "Votes",
                    data = new[] { 12, 19, 3, 41 },
                    backgroundColor = new[] { "rgba(255, 99, 132, 0.2)",
                                               "rgba(255, 159, 64, 0.2)",
                                               "rgba(255, 205, 86, 0.2)",
                                               "rgba(75, 192, 192, 0.2)" 
                    },
                     borderColor = new[] {
                                  "rgb(255, 99, 132)",
                                  "rgb(255, 159, 64)",
                                  "rgb(255, 205, 86)",
                                  "rgb(75, 192, 192)"
                     },
                     borderWidth =  2
                }
        }
        },
        options = new { responsive = true }
    };
}