@page "/"
@using ChartJsWrapper.BarChart
@using ChartJsWrapper.Common
@using ChartJsWrapper.Util


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@*<Component1></Component1>
<Component2></Component2>
<PieChart></PieChart>
<BarChartTest CanvasId="barChart" Config="@BarConfigTest"> </BarChartTest>*@
<Chart Config="_config"></Chart>

@code {
    private BarConfig _config;

    protected override void OnInitialized()
    {
        _config = new BarConfig
            {
                Options = new BarOptions
                {
                    Responsive = true,
                    Title = new OptionsTitle //using OptionsTitle here -> would like to see if I can't use Options.Title instead
                    {
                        Display = true,
                        Text = "Custom Barchart"
                    }
                },
            };

        foreach (string color in new[] { "Red", "Yellow", "Green", "Blue" })
        {
            _config.Data.Labels.Add(color);
        }

        BarDataset<int> dataset = new BarDataset<int>(new[] { 6, 5, 3, 7 })
            {
                BackgroundColor = new[]
                {
            ColorUtil.ColorHexString(255, 99, 132), // Slice 1 aka "Red"
            ColorUtil.ColorHexString(255, 205, 86), // Slice 2 aka "Yellow"
            ColorUtil.ColorHexString(75, 192, 192), // Slice 3 aka "Green"
            ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
        }
            };

        _config.Data.Datasets.Add(dataset);
    }

}